<div class="panel panel-default">
  <div style="height:625px;overflow-y:auto;">
    <table class="table table-striped table-hover activeProductsTable">
      <thead>
        <tr>
          <th ng-repeat="dataTableField in btDataTableFields track by $index" ng-click="sort(dataTableField)" class="{{::dataTableField.class}}" width="{{::dataTableField.width}}" ng-bind-html="getHeader(dataTableField)"></th>
        </tr>
      </thead>
      <tbody>
        <tr dir-paginate="c in data | itemsPerPage: header.limit" total-items="header.count" current-page="header.page" pagination-id="dataTable">
          <td ng-repeat="dataTableField in btDataTableFields track by $index" class="{{::dataTableField.class}}" style="{{::dataTableField.style}}" bt-data="c" bt-value-getter="dataTableField.getValue" bt-data-table-field></td>
        </tr>
        <tr ng-if="isLoading() && data.length == 0">
          <td align="center" colspan="{{::btDataTableFields.length}}"><i class="fa fa-circle-o-notch fa-spin"></i> Yükleniyor...</td>
        </tr>
        <tr ng-if="!isLoading() && data.length == 0">
          <td align="center" colspan="{{::btDataTableFields.length}}"><span class="text-warning"><i class="fa fa-exclamation-triangle"></i> Kayıt bulunamadı.</span></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="text-center">
  <dir-pagination-controls on-page-change="pageChanged(newPageNumber)" pagination-id="dataTable"></dir-pagination-controls>
</div>
